#reset-page{
    margin-top: 30px;
    .reset-box{
        margin: auto;
        border-radius: 10px;
        width: 400px;
    }
    h3{
        line-height: 30px;
        font-size: 21px;
    }
  
    .text-dark {
        color: #313131!important;
    }


}