#address{
 
    .select-row-icon{
        display: block;
    color: #313131;
    padding: 8px 15px;
    position: relative;
    border: 2px solid #fff;
}

.text-right{
    text-align: right;
}

    
}