#register-page{
    margin-top: 30px;

    .register-box {
        margin: auto;
        border-radius: 10px;
        width: 400px;
    }
  
    h3{
        line-height: 30px;
        font-size: 21px;
    }
    #register-form{
        .eye-btn{
            background: #e4e7ea;
            border: 1px solid #e4e7ea;
            border-radius: 0;
        }
       

    }
   
    


}